@import "variables.scss";
@import "mixins.scss";

.header {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: $second-background;
  @include flex-display(center, space-between, row);
  padding: 0px 30px;

  .header__branding-name {
    font-family: Arial;
    font-size: 25px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    color: black;
    text-transform: uppercase;
  }

  .header__user {
    @include flex-display(center, center, row);

    span {
      font-size: 13px;
      color: #4d4f5c;
      margin: 0 10px;
      border-right: 2px solid #b0b0b0;
      padding: 0 10px;
    }
    mat-icon {
      cursor: pointer;
    }
  }
}
