@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin flex-display($align-value, $justify-value, $direction-value) {
  display: flex;
  align-items: $align-value;
  justify-content: $justify-value;
  flex-direction: $direction-value;
}

@mixin rtl($property, $ltr-value, $rtl-value) {
  #{$property}: $ltr-value;

  [dir="rtl"] & {
    #{$property}: $rtl-value;
  }
}
